@import "tailwindcss";
@import 'fumadocs-ui/css/solar.css';
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";

.shiki,
.shiki span {
  @variant dark {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
